page-home {
    .cover-image-box {
        display: flex;
        justify-content: center;
    }
    .cover-image-box img {
        height: 220px;
        width: 220px;
    }
    .controls-box {
        display: flex;
        justify-content: center;
        padding-top: 15px;
    }
    .cover-image {
        height: 220px;
        width: 220px;        
    }
    ion-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}   
