page-now-playing {
    ion-content {
        background-image: url('../../assets/imgs/background.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .scroll-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .cover-image-box {
        display: flex;
        justify-content: left;
        padding-left: 15px;
    }
    .cover-image-box img {
        height: 270px;
        width: 270px;
        opacity: 0.8;
    }
    .center-box {
        display: flex;
        justify-content: space-between;
    }
    .playback-buttons-box {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 65%;
    }
    .playback-skip-button {
        opacity: 0.8;
        zoom: 1.2;
    }
    .playback-play-pause-button {
        opacity: 0.8;
        zoom: 2;
    }   
    .volume-box {
        width: 100%; 
        padding-left: 10px; 
        padding-right: 10px; 
        padding-top: 15px
    }
    .seek-box {
        width: 100%; 
        padding-left: 10px; 
        padding-right: 10px; 
        padding-bottom: 15px
    }
    .seek-icon {
        zoom: 2;
    }
    .volume-icon {
        zoom: 2;
    }
}
