// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  danger:         #f53d3d,
  light:          #f4f4f4,
  dark:           #222,
  primary:        #54ffff,
  primary-dark:   #387e7d,
  secondary:       #22fb3b,
  secondary-dark:  #147c1b
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

// @import "ionic.theme.default";

@import "ionic.theme.dark";

$range-ios-knob-background-color: map-get($colors, primary);
$range-ios-bar-background-color: map-get($colors, primary-dark);

$tabs-ios-tab-color-inactive: map-get($colors, secondary-dark);
$tabs-ios-tab-color-active: map-get($colors, secondary);

$list-ios-activated-background-color: #000;
$item-ios-detail-push-color: map-get($colors, primary);

$toolbar-ios-button-color: map-get($colors, secondary);
$toolbar-ios-title-text-color: map-get($colors, secondary);

$action-sheet-ios-background: #242424;
$action-sheet-ios-button-cancel-background: #242424;
$action-sheet-ios-border-color: #000;
$action-sheet-ios-title-color: map-get($colors, secondary);
$action-sheet-ios-title-font-size: 1.6rem;
$action-sheet-ios-button-text-color: map-get($colors, primary);

$img-placeholder-background: #242424;

$searchbar-ios-input-clear-icon-color: map-get($colors, primary);

$popover-ios-width: 100%;
$popover-ios-min-width: 100%;

$text-input-ios-input-clear-icon-color: opacify(map-get($colors, primary-dark), .5);
$text-input-ios-input-clear-icon-size: 32px;


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
