page-search-popover {
    .search-box {
        padding-top: 5px;
    }
    .search-input {
        zoom: 1.2;
        border: 1px solid map-get($colors, mh-blue);
        color: map-get($colors, mh-dark-blue);
        font-size: 18px;
        padding-left: 5px;
        padding-right: 5px;
    }
}
