page-search-popover {
    .mop-search-box {
        padding-top: 5px;
    }
    .mop-search-input {
        zoom: 1.2;
        border: 1px solid map-get($colors, primary);
        color: map-get($colors, primary-dark);
        font-size: 18px;
        padding-left: 5px;
        padding-right: 5px;
    }
}
